* {
  margin: 0;
  padding: 0;
}




.container {
  position: relative;
  text-align: center;
  padding-top: 100px;
  background-color: #58d6b963;

}

.cloud-top,
.cloud-bottom {
  position: absolute;
}

.cloud-top {
  right: 10%;
}

.cloud-bottom {
  top: 40%;
  left: 10%;
}

.mount {
  margin-top: 249px;
}


.disc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.name {
  font-family: 'MonteCarlo', cursive;
  font-size: 60px;
  padding-bottom: 20px;
}

.title {
  line-height: 2;
  color: #40514E;
  font-family: "Pacifico", cursive;
  padding-bottom: 30px;
}

.name,
.title {
  color: #66BFBF;
  text-shadow: 4px 4px 2px #ffff89bf;
}

.img-profile {
  width: 15%;
  border-radius: 50%;
}

.middle-container {
  width: 100%;

}

.profile {
  padding-top: 50px;
  text-align: center;
}

.profile h2 {
  color: #11999E;
  font-family: 'MonteCarlo', cursive;
  font-size: 35px;
  line-height: 2;
}

.profile p {
  font-family: 'Itim', cursive;
  font-size: 20px;
  line-height: 2;
  padding-bottom: 70px;
}

hr {
  border-top: 10px #8997977a dotted;
  width: 5%;
  margin: 100px auto;
  background: none;
}

.footer-link {
  margin: 10px 20px;
  text-decoration: none;
  color: #11999E;
  font-family: 'montserrat', sans-serif;
}

.footer-link:hover {
  color: #eaf6f6;
}

.middle-container {
  text-align: center;
}


.middle-container .skill-row {
  width: 50%;
  margin: 200px auto;
  text-align: left;
  line-height: 2;

}

.skills h2 {
  color: #66BFBF;
  font-size: 1.5em;
  font-family: 'Courier New', Courier, monospace;
}

.skills h3 {
  color: #11999E;
  font-family: 'Courier New', Courier, monospace;
}

.middle-container .skill-row .fir-img-row {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.middle-container .skill-row .sec-img-row {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.contact-me {
  text-align: center;
  width: 50%;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  line-height: 2;
}

.contact-me h2,
h3 {
  color: #11999E;
}

.contact-me h2 {
  font-size: 35px;
}

.contact-me p {
  margin-bottom: 50px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.bottom-container {
  text-align: center;
  margin: 40px auto 0;
  width: 100%;
  padding: 50px 0 20px;
  align-items: center;
  background-color: #66BFBF;
}

.bottom-container p {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}